<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <h1>Edit the form</h1> 

   <form method="post" action="/api/csonetwork/create" enctype="multipart/form-data">
    <div>
        <input type="file" name="logo" placeholder="Enter your Image">
    </div> 

    <!-- <div>
        <input type="text" name="tag" placeholder="Enter your tag">
    </div>    -->

    <div>
        <input type="text" name="title" placeholder="Enter your Title">
    </div>
    <!-- <div>
        <input type="text" name="targetpdf" placeholder="Enter your PDF link">
    </div>   -->

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>